.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: -20px;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  padding: 0 12px;
  background: white;

  .user-menu {
    margin-right: 1rem;
  }
}

#content {
  background: #f0f2f5;
  padding: 0.75rem;
  height: 100%;
}

.footer-container {
  box-sizing: border-box;
  width: unset !important;
  #footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 0 0 0 15px;
    margin: 0;
    width: 100%;
    line-height: 25px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 2px -3px 6px rgba(0, 21, 41, 0.08);
  }
}